.container{
    background-color: beige;
}

#nav-bar{
    padding: 10px;
    height:100px;
    background:rgb(110, 110, 110);
    display: flex;
    justify-content: space-between;
    color: White;
}

.btns{
    padding: 20px;
    margin:10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#compliment-div{
    padding: 10px;
}

#features{
    padding: 10px;
    display: flex;
    flex-direction:column;
}

#phrases{
    padding: 10px;
    display: flex;
    flex-direction:column;
}

